<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>{% block title %} {% endblock %} Knowledge Hub</title>
    <script>
        if (localStorage.getItem('darkmode') === 'active') {
          document.documentElement.classList.add('darkmode');
        }
      </script>
    <script src="/js/theme.js" defer></script>
</head>


